{% extends 'template.html' %} {% block title %} {% if comment %}Edit comment{%
else %}New comment{% endif %} {% endblock %} {% block content %}
<div class="container-fluid my-5 pt-5 w-75">
    <h1>Your comment:</h1>
    <hr />
    <form method="POST" name="message" id="message">
        <div class="input-group">
            <span class="input-group-text">Message: </span>
            <textarea
                id="message"
                name="message"
                class="form-control"
                aria-label="With textarea"
            >
{% if comment %}
{{ comment['message'] }}{% endif %}</textarea
            >
        </div>
    </form>
    <br />
    <button type="submit" class="btn btn-primary" form="message">
        {% if comment %}Save edits{% else %}Post new comment{% endif %}
    </button>
</div>
{% endblock %}
