{% extends 'base.html'%} {% block title %}Home{% endblock %} {% block content %}
<!-- Grid container -->
<div class="container-fluid my-5 pt-5 w-100">
    <!-- Grid row 1 -->
    <div class="row justify-content-between align-items-center g-2 mb-3">
        <div class="col">
            <h2 class="ms-5">Latest questions:</h2>
        </div>
        <!-- Question sorting button -->
        <div class="col-4 me-3 ps-5">
            <form
                class="input-group justify-content-end"
                action="/"
                method="get"
            >
                <div class="col">
                    <select
                        class="form-select shadow"
                        name="order_by"
                        id="order_by"
                    >
                        <option selected value="Date">Date</option>
                        <option value="Title">Title</option>
                        <option value="Message">Message</option>
                        <option value="Views">Views</option>
                        <option value="Votes">Votes</option>
                        <option value="Comments">Comments</option>
                    </select>
                </div>
                <div class="col mx-1">
                    <select
                        class="form-select shadow"
                        name="order_direction"
                        id="order_direction"
                    >
                        <option selected value="descending">Descending</option>
                        <option value="ascending">Ascending</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-info shadow">Sort</button>
            </form>
            <!-- Question sorting button -->
        </div>
        <!-- Grid row 2 -->
        <div class="row justify-content-center align-items-center g-2">
            <!-- Listed questions --->
            <div class="accordion" id="question-accordion">
                {% for item in questions %}
                <div class="accordion-item">
                    <h2
                        class="accordion-header"
                        id="panelsStayOpen-heading{{ item['id'] }}"
                    >
                        <div
                            class="row justify-content-center align-items-center voting"
                        >
                            <div class="col ms-3">
                                <button class="btn btn-upvote" href="#">
                                    <i class="fas fa-arrow-up"></i>
                                </button>
                            </div>
                            <div class="col">{{ item['vote_number'] }}</div>
                            <div class="col">
                                <button class="btn btn-downvote" href="#">
                                    <i class="fas fa-arrow-down"></i>
                                </button>
                            </div>
                        </div>
                        <button
                            class="accordion-button"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapse{{ item['id'] }}"
                            aria-expanded="true"
                            aria-controls="panelsStayOpen-collapse{{ item['id'] }}"
                        >
                            <div
                                class="row-fluid justify-content-between align-items-center g-2"
                            >
                                <div class="col">
                                    <span>{{ item['title'] }}</span>
                                </div>
                                <div class="col-3">
                                    <span class="detail text-nowrap"
                                        >{{ time_passed(item['submission_time'])
                                        }}</span
                                    ><span class="detail text-nowrap px-2"
                                        ><i class="far fa-eye"></i> {{
                                        item['view_number'] }}</span
                                    ><span class="detail text-nowrap"
                                        ><i
                                            class="fa-regular fa-comment-dots"
                                        ></i>
                                        {{ comment_count[item['id']] }}</span
                                    >
                                </div>
                            </div>
                        </button>
                    </h2>
                    <div>
                        <div
                            id="panelsStayOpen-collapse{{ item['id'] }}"
                            class="accordion-collapse collapse"
                            aria-labelledby="panelsStayOpen-heading{{ item['id'] }}"
                        >
                            <div class="accordion-body">
                                {{ item['message'].replace('\n', '<br />')|safe
                                }}
                            </div>
                            <div>
                                <a href="/question/{{ item['id'] }}">
                                    <button class="btn btn-info ms-3 mb-2">
                                        Open question
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Grid container -->
            {% endblock %}
        </div>
    </div>
</div>
