{% extends 'base.html '%} {% block title %}Home{% endblock %} {% block content
%}
<!-- Grid container -->
<div class="container my-5 pt-5 w-100">
    <!-- Grid row 1 -->
    <div class="row justify-content-between align-items-center g-2 mb-3">
        <div class="col">
            <h2 class="ms-5">Latest questions:</h2>
        </div>
        <!-- Question sorting button -->
        <div class="col text-end me-5">
            <div class="dropdown open">
                <button
                    class="btn btn-dropdown dropdown-toggle shadow"
                    type="button"
                    id="triggerId"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    Sort by:
                </button>
                <div class="dropdown-menu" aria-labelledby="triggerId">
                    <form action="" method="post">
                        <button
                            id="latest-submit"
                            class="dropdown-item"
                            type="submit"
                            name="submit"
                            value="{{ headers_question[1] }}, True"
                        >
                            Latest <i class="fas fa-sort-numeric-down"></i>
                        </button>
                        <button
                            id="oldest-submit"
                            class="dropdown-item"
                            type="submit"
                            name="submit"
                            value="{{ headers_question[1] }}, False"
                        >
                            Oldest <i class="fas fa-sort-numeric-down-alt"></i>
                        </button>
                        <button
                            id="most-comments-submit"
                            class="dropdown-item"
                            type="submit"
                            name="submit"
                            value="{{ headers_answer[3] }}, True"
                        >
                            Most comments
                            <i class="fas fa-sort-numeric-down-alt"></i>
                        </button>
                        <button
                            id="least-comments-submit"
                            class="dropdown-item"
                            type="submit"
                            name="submit"
                            value="{{ headers_answer[3] }}, False"
                        >
                            Least comments
                            <i class="fas fa-sort-numeric-down"></i>
                        </button>
                        <button
                            id="views-submit"
                            class="dropdown-item"
                            type="submit"
                            name="submit"
                            value="{{ headers_question[2] }}, True"
                        >
                            Most popular <i class="far fa-eye"></i>
                        </button>
                        <button
                            id="votes-submit"
                            class="dropdown-item"
                            type="submit"
                            name="submit"
                            value="{{ headers_question[3] }}, True"
                        >
                            Most upvoted <i class="far fa-thumbs-up"></i>
                        </button>
                    </form>
                </div>
            </div>
            <!-- Question sorting button -->
        </div>
    </div>
    <!-- Grid row 2 -->
    <div class="row justify-content-center align-items-center g-2">
        <!-- Listed questions --->
        <div class="accordion" id="question-accordion">
            {% for item in questions %}
            <div class="accordion-item">
                <h2
                    class="accordion-header"
                    id="panelsStayOpen-heading{{ item['id'] }}"
                >
                    <div
                        class="row justify-content-center align-items-center voting"
                    >
                        <div class="col ms-3">
                            <button class="btn btn-upvote" href="#">
                                <i class="fas fa-arrow-up"></i>
                            </button>
                        </div>
                        <div class="col">{{ item['vote_number'] }}</div>
                        <div class="col">
                            <button class="btn btn-downvote" href="#">
                                <i class="fas fa-arrow-down"></i>
                            </button>
                        </div>
                    </div>
                    <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapse{{ item['id'] }}"
                        aria-expanded="true"
                        aria-controls="panelsStayOpen-collapse{{ item['id'] }}"
                    >
                        <div class="col-11">{{ item['title'] }}</div>
                        <div class="col-1">
                            <i class="far fa-eye"></i> {{ item['view_number'] }}
                        </div>
                    </button>
                </h2>
                <div>
                    <div
                        id="panelsStayOpen-collapse{{ item['id'] }}"
                        class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-heading{{ item['id'] }}"
                    >
                        <div class="accordion-body">
                            {{ item['message'].replace('\n', '<br />')|safe }}
                        </div>
                        <div>
                            <a href="/question/{{ item['id'] }}">
                                <button class="btn btn-info ms-3 mb-2">
                                    Open question
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Grid container -->
        {% endblock %}
    </div>
</div>
