<header>
    {# Sticky top navbar #}
    <nav class="navbar navbar-expand-lg fixed-top">
        {# Flexbox container #}
        <div class="container-fluid w-75">
            {# AskMate logo #}
            <a class="navbar-brand" href="/">
                <img
                    class="img-fluid"
                    src="{{ url_for('static', filename='images/logo.png') }}"
                    alt="AskMate"
                    style="max-height: 10vh"
                />
            </a>
            {# Small screen hamburger icon #}
            <button
                class="shadow navbar-toggler hidden-lg-up"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId"
                aria-controls="collapsibleNavId"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <img
                    src="{{ url_for('static', filename='icons/hamburger_icon.svg') }}"
                    alt="menu"
                />
            </button>
            {# Site navigation #}
            <div
                class="collapse navbar-collapse justify-content-end"
                id="collapsibleNavId"
            >
                <ul class="nav nav-pills">
                    <li class="shadow nav-item mx-1">
                        <a href="/list" class="nav-link active">Home</a>
                    </li>
                    <li class="shadow nav-item mx-1">
                        <a href="/add_question" class="nav-link"
                            >Add question</a
                        >
                    </li>
                    <li class="shadow nav-item mx-1">
                        <a
                            class="nav-link"
                            data-bs-toggle="modal"
                            href="#signinModalToggle"
                            role="button"
                            >Sign-in</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% include 'signin.html' %}
</header>
